.settings {
  flex: 1;
  padding: 20px;
}
.settings_container {
  background-color: rgba(235, 235, 235, 0.733);
  border-radius: 10px;
  padding: 20px 30px;
  height: 100%;
  width: 100%;
}

.text_colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_sizes,
.text_rotations {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drag_drop {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  background: rgba(0, 209, 0, 0.075);
}
.drag_drop img {
  width: 20%;
  padding: 20px 0;
}
.drag_drop h2 {
  padding: 10px 0;
}
.drag_active {
  border: 2px solid black;
}
.img_set_con {
  width: 100%;
}
.img_set_con img {
  width: 100%;
  object-fit: cover;
  outline: 2px solid black;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
#remove_image {
  background: rgba(255, 0, 0, 0.603);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  outline: 0;
}
#reset_settings {
  background: rgba(255, 136, 0, 0.603);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  outline: 0;
}
.size {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.width,
.height {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.width h4,
.height h4 {
  padding: 0 5px;
}
.width input,
.height input {
  width: 50px;
  padding: 5px 10px;
  outline: 0;
}
.plus,
.minus {
  background: lightgrey;
  padding: 0 5px;
  border: 1px solid black;
  cursor: pointer;
}
.plus {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.minus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.plus:active,
.minus:active {
  box-shadow: inset 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.rotate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
